@import 'tailwindcss';

::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar-track {
  background-color: #ffbfa3;
}

::-webkit-scrollbar-thumb {
  background-color: #3fd6c2;
}

@layer base {
  body {
    font-family: var(--font-montserrat), sans-serif;
    @apply min-h-screen w-full bg-gradient-to-t from-[#3FD6C2] to-[#FFBFA3] text-[#0F2F2E] antialiased;
  }
  h1 {
    font-weight: 700;
    @apply text-4xl leading-tight tracking-tight md:text-6xl;
  }

  h2 {
    font-weight: 600;
    @apply text-3xl leading-snug tracking-tight md:text-5xl;
  }

  h3 {
    font-weight: 500;
    @apply text-2xl leading-snug tracking-normal md:text-4xl;
  }

  h4 {
    font-weight: 500;
    @apply text-xl leading-normal md:text-2xl;
  }

  p {
    font-weight: 400;
    @apply text-base leading-relaxed tracking-normal md:text-lg;
  }
}

@layer utilities {
  .hover-transition {
    @apply rounded p-1 transition duration-500 ease-in-out hover:bg-white;
  }
}
