@import 'tailwindcss';

::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar-track {
  background-color: #0a141e;
}

::-webkit-scrollbar-thumb {
  background-color: #ff4654;
}

@layer base {
  body {
    font-family: var(--font-montserrat), sans-serif;
    @apply min-h-screen w-full bg-gradient-to-t from-[#ff4654] to-[#0a141e] text-white antialiased;
  }
  h1 {
    font-weight: 700;
  }

  h2 {
    font-weight: 600;
  }

  p,
  button {
    font-weight: 400;
  }
}

@layer utilities {
  .hover-transition {
    @apply rounded p-1 transition duration-500 ease-in-out hover:bg-white hover:text-black;
  }
}
